<!DOCTYPE html>
<html lang="en">
<head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Michael Stallings, Jada Quandt, Donald Langston, Jose Isimeme, Crystal Lebron">
  <!-- Font package below -->
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!-- Bootstrap below -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- Stylesheet below -->
  <link rel="stylesheet" href="/css/style.css">
  <title>GTL EVERYDAY</title>
</head>

<body id="Homepage">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gym-Tan-Laundry</a>
  </nav>
      </ul>
    </div>
  </nav>
