<%- include('partials/header.ejs') %>

<!-- Flexbox page container -->
<h1 id="intro">Here is a preview of your playlist!:</h1>
        <div id="songContainer" class="row py-1 px-3">
           <!-- Players rendered here -->
           <% songs.map(song => { %>
            <iframe src="https://open.spotify.com/embed/track/<%= song %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <% })   %> 
        </div>
<div id="buttonDiv" class="mx-auto d-flex justify-content-center p-3">
  <a href="/">
    <button id="startOver" class="btn btn-warning mr-2">
    <img src="/images/refresh.png" alt="" id="refreshIcon">Start over </button>
  </a>
  <% if(loggedIn) { %>
    <a href="/logout"><button id="spotifyDashboard" class="btn btn-success">Logout
      <img src="/images/spotify.png" alt="" id="spotifyIcon">
    </button></a>
    <a href="/push-to-playlist"><button id="spotifyDashboard" class="btn btn-success">Create playlist with
      <img src="/images/spotify.png" alt="" id="spotifyIcon">
    </button></a>
  <% } else { %>
    <a href="/auth/spotify"><button id="spotifyDashboard2" class="btn btn-success mx-2">Login to save with
      <img src="/images/spotify.png" alt="" id="spotifyIcon">
    </button></a>
  <% } %>
  
</div>
  <!--
    
  <script>
    // grabbed songs array
   var songsList = "<%= songs %>"
   // Attempting to grab the tracks-id or playlist-id that's being injected into the iframe src above.
    // afterwhich hopefully storing that value in a variable, then we can push that ID up to our own database
  var songsFrame = document.getElementsByTagName('iframe');
  // am able to get object syntax only so far
  var tracksID = songsFrame.item(0);
  document.getElementById('spotifyDashboard').addEventListener('click', function login_save() {

      console.log('login/save button was clicked');
      console.log(songsList);
      
  });
  </script>

-->
<%- include('partials/footer.ejs') %>