<!DOCTYPE html>
<html lang="en">
<%- include('partials/head1.ejs') %>
<body>
    <h1 class="mb-4">DISPLAY SONGS</h1>
</body>
</html>




<% songs.map(song => { %>
    <iframe src="https://open.spotify.com/embed/track/<%= song.id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% })   %>



