<%- include('partials/header.ejs') %>
<!-- Div for homepage buttons -->
  <div id="gtlContainer" class="container">
    <div class="center">
<!-- Gym Button -->
    <button id="modalBtn" class="button">
      <image id="gymImg" class="col-sm-12 col-md-12 col-lg-12" src="images/Gym.png"></image>
    </button>
<!-- Laundry Button -->
    <button id="modalBtnT" class="button">
      <image class="col-sm-12 col-md-12 col-lg-12" src="images/Tan.png"></image>
    </button>
<!-- Laundry Button -->
    <button id="modalBtnL" class="button">
      <image class="col-sm-12 col-md-12 col-lg-12" src="images/Laundry.png"></image>
    </button>
    </div>
  </div>
  <div id="modals">
<!-- Modal for Gym Below -->
<div id="simpleModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="closeBtn">&times;</span>
      <h4>Select size of Playlist:</h4>
    </div>
    <div class="modal-body">
    <form method="POST" action="/modal-input">
      <input type="radio" id="smallList" name="songList" value="5" required>
      <input type="hidden" name="playListType" value="GYM">
      <label for="smallList">Small(5 songs)</label><br>
      <input type="radio" id="mediumList" name="songList" value="10" required>
      <label for="mediumList">Medium(10 songs)</label><br>
      <input type="radio" id="largeList" name="songList" value="15" required>
      <label for="largeList">Large(15 songs)</label><br>
      <button type="submit" id="playlistSubmitButton">Submit</button>
    </form>
    </div>
  </div>
</div>
<!-- Modal for Tan Below -->
    <div id="simpleModalT" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="closeBtn">&times;</span>
          <h4>Select size of Playlist:</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="/modal-input">
          <input type="radio" id="smallListT" name="songListT" value="5" required>
          <input type="hidden" name="playListType" value="TAN">
          <label for="smallList">Small(5 songs)</label><br>
          <input type="radio" id="mediumListT" name="songListT" value="10" required>
          <label for="mediumList">Medium(10 songs)</label><br>
          <input type="radio" id="largeListT" name="songListT" value="15" required>
          <label for="largeList">Large(15 songs)</label><br>
        </form>
          <button type="submit" id="playlistSubmitButtonT">Submit</button>
        </div>
      </div>
    </div>
<!-- Modal for Laundry Below -->
    <div id="simpleModalL" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="closeBtn">&times;</span>
          <h4>Select size of Playlist:</h4>
        </div>
        <div class="modal-body">
        <form method="POST" action="/modal-input"></form>
          <input type="radio" id="smallListL" name="songListL" value="5" required>
          <input type="hidden" name="playListType" value="LAUNDRY">
          <label for="smallList">Small(5 songs)</label><br>
          <input type="radio" id="mediumListL" name="songListL" value="10" required>
          <label for="mediumList">Medium(10 songs)</label><br>
          <input type="radio" id="largeListL" name="songListL" value="15" required>
          <label for="largeList">Large(15 songs)</label><br>
        </form>
          <button type="submit" id="playlistSubmitButtonL">Submit</button>
        </div>
      </div>
    </div>
  </div>
<!-- Introduction below -->
  <div id="introContainer" class="container">
   <p id="homeIntroduction" class="text-center">We're here to make creating your own playlists easier. 
       <br>
       Select one of the categories above and we will generate a unique playlist for you! </p>
  </div>
<!-- Script for Modals -->
  <script src="/style.js"></script>
  <script src="/index.js"></script>
<!--Footer EJS Partial  -->
<%- include('partials/footer.ejs') %>