<a href="/login">Login</a>
<a href="/registration">Sign Up</a>

<div id="selectPlaylistDiv">
    <label for="selectPlaylist">Select a playlist:</label>
    <select id="selectPlaylist">
        <option value="gym">Gym</option>
        <option value="tan">Tan</option>
        <option value="laundry">Laundry</option>
    </select>

    <p>Select size of Playlist:</p>
    <input type="radio" id="smallList" name="songList" value="small">
    <label for="smallList">Small(5 songs)</label><br>
    <input type="radio" id="mediumList" name="songList" value="medium">
    <label for="mediumList">Medium(10 songs)</label><br>
    <input type="radio" id="largeList" name="songList" value="large">
    <label for="largeList">Large(15 songs)</label>

    <button id="playlistSubmitButton">Submit</button>
   
</div>

<script src="index.js"></script>

