<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head1.ejs') %>
<body>
    
    <h1> Congratulations, You're now registered! </h1>
    <div class="mt-5 text-center">
        Click <a href="/Home.html">Here</a> to go back to homepage
        <br>
        Click <a href="/registration2">Here</a> to go back to register another new user
    </div>

</body>
</html>