<!DOCTYPE html>
<html lang="en">
<%- include('partials/head1.ejs') %>
<body>
    <h1>GYM-TAN-LAUNDRY USERS TEST:</h1>
    <div>
        <strong>
            Stuff in Here:
            <br>
            <ul>
           <% for (var i=0; i<data.length; i++) { %>
                <li><%= data[i].username %>
                    <br>
                    <%= data[i].email %>
                    <br>
                    <%= data[i].bio %>
                </li>
                <br>
                

            <% } %>
            </ul>
        </strong>
    </div>
</body>
</html>