#profileContainer {
    background-color: lightslategray;
    width: 150px;
}

#profileImage {
    height: 100px;
}

#profileName {
    font-size: 18px;
    text-align: center;
}

#spotifyUsername {
    font-size: 12px;
    text-align: center;
}

#footer {
    height: 20px;
    background-color: black;
    font-size: 10px;
    color: lightgray;
    text-align: center;
}

.card-title {
    font-size: 20px;
    color: black;
}

.card-text {
    font-size: 10px;
    color: black;
}

#intro {
    font-size: 20px;
    text-align: center;
    color: green;
}

html,body {
    background-color: black;
    font-family: 'Signika', sans-serif;
}

#refreshIcon {
    height:25px;
    margin-right: 10px;
}

#spotifyIcon {
    height: 30px;
}

#songContainer {
    justify-content: center;
}

#welcomeDashboard {
    font-size: 20px;
    text-align: center;
    color: green;
}